a:link {
  color: rgb(145, 230, 65);
}

a:visited {
  color: blue;
}

a:hover {
  color: rgb(100, 97, 230);
  font-size: 20px;
}

a:active {
  color: green;
}

input:focus {
  background-color: rgb(98, 222, 231);
}
