body {
  background-image: url("image.webp");

  background-repeat: no-repeat;

  background-position: center 50%;

  background-attachment: fixed;

  background-size: 400px 300px;
}

h1 {
  text-align: center;
}

p {
  font-size: 20px;
  line-height: 35px;
}